.homeHeader {
  background-color: grey;
  z-index: 100;
  transition: all 0.5s;
}
.homeHeader__scrolled {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  // .homeSignUp {

  // }
}
.homeLogo {
  line-height: 4rem;
  font-size: 3rem;
  transition: all 0.5s;
  color: rgb(220, 220, 220);
  &:hover {
    color: white;
    transform: rotate(216deg);
  }
}
.activeHomeLink {
  color: white;
  border-color: white;
}
.homeLink {
  position: relative;
  color: rgb(220, 220, 220);
  font-weight: 500;
  transition: all 0.5s;
  &:hover {
    color: white;
    border-color: white;
    transform: translateY(-10px);
  }
}
.homeSignIn {
  color: rgb(220, 220, 220);
  transition: all 0.5s;
  &:hover {
    color: white;
  }
}
.homeSignUp {
  background-color: rgb(220, 220, 220);
  color: black;
  transition: all 0.5s;
  &:hover {
    color: black;
    background-color: white;
  }
}
