.ant-tabs-tab-btn {
  width: 100%;
  white-space: pre-wrap;
}
.theaterInfo {
  max-width: 300px;
  position: relative;
}
.movieInfo {
  max-width: 300px;
}
.showtimes {
  max-height: 600px;
  overflow-y: scroll;
}
.showtime {
  border-bottom: 1px solid grey;
}